# FBREF

https://fbref.com/ is a popular website for more advanced statistics. The nice thing about FBREF is that everything is just in tables so we can scrape it really easily just using pandas.

So while we'll only be scraping just a single table in this video, this method is applicable to any table on the website.

In [39]:
#!pip install undetected-chromedriver
# make sure you also have Chrome installed

import pandas as pd
import undetected_chromedriver as uc

In [40]:
driver = uc.Chrome()
driver.set_page_load_timeout(5)

In [41]:
driver.get('https://fbref.com/en/comps/8/2023-2024/stats/2023-2024-Champions-League-Stats')

In [44]:
# We'll start off by scraping the data from the 23/24 Champions League
df = pd.read_html(driver.page_source, attrs={'id': 'stats_squads_standard_for'})[0]

/var/folders/l3/wlgnl3zd5hl46kfjq1yh3k9r0000gn/T/ipykernel_83649/1850269989.py:2: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df = pd.read_html(driver.page_source, attrs={'id': 'stats_squads_standard_for'})[0]

In [45]:
df.head()

   Unnamed: 0_level_0 Unnamed: 1_level_0 Unnamed: 2_level_0  \
                Squad               # Pl                Age
0          be Antwerp                 20               24.5
1         eng Arsenal                 23               25.2
2  es Atlético Madrid                 22               29.4
3        es Barcelona                 25               26.5
4    de Bayern Munich                 23               27.6

  Unnamed: 3_level_0 Playing Time                    Performance      ...  \
                Poss           MP Starts   Min   90s         Gls Ast  ...
0               43.2            6     66   540   6.0           6   4  ...
1               56.5           10    110   930  10.3          19  16  ...
2               49.1           10    110   930  10.3          20  11  ...
3               54.2           10    110   900  10.0          19  18  ...
4               54.4           12    132  1080  12.0          21  16  ...

  Per 90 Minutes
             Gls   Ast   G+A  G-PK G+A-PK    xG   xAG xG+xAG  npxG npxG+xAG
0           1.00  0.67  1.67  1.00   1.67  1.03  0.67   1.70  0.91     1.58
1           1.84  1.55  3.39  1.74   3.29  1.30  1.01   2.32  1.23     2.24
2           1.94  1.06  3.00  1.94   3.00  1.61  1.16   2.77  1.52     2.68
3           1.90  1.80  3.70  1.90   3.70  1.69  1.47   3.16  1.69     3.16
4           1.75  1.33  3.08  1.50   2.83  1.58  1.20   2.78  1.39     2.59

[5 rows x 32 columns]

In [46]:
# You'll also notice that the columns are multi-indexed, so we'll flatten the columns
df.columns = ['_'.join(col).strip() for col in df.columns.values]

In [47]:
df.head()

,Unnamed: 0_level_0_Squad,Unnamed: 1_level_0_# Pl,Unnamed: 2_level_0_Age,Unnamed: 3_level_0_Poss,Playing Time_MP,Playing Time_Starts,Playing Time_Min,Playing Time_90s,Performance_Gls,Performance_Ast,...,Per 90 Minutes_Gls,Per 90 Minutes_Ast,Per 90 Minutes_G+A,Per 90 Minutes_G-PK,Per 90 Minutes_G+A-PK,Per 90 Minutes_xG,Per 90 Minutes_xAG,Per 90 Minutes_xG+xAG,Per 90 Minutes_npxG,Per 90 Minutes_npxG+xAG
0,be Antwerp,20,24.5,43.2,6,66,540,6.0,6,4,...,1.00,0.67,1.67,1.00,1.67,1.03,0.67,1.70,0.91,1.58
1,eng Arsenal,23,25.2,56.5,10,110,930,10.3,19,16,...,1.84,1.55,3.39,1.74,3.29,1.30,1.01,2.32,1.23,2.24
2,es Atlético Madrid,22,29.4,49.1,10,110,930,10.3,20,11,...,1.94,1.06,3.00,1.94,3.00,1.61,1.16,2.77,1.52,2.68
3,es Barcelona,25,26.5,54.2,10,110,900,10.0,19,18,...,1.90,1.80,3.70,1.90,3.70,1.69,1.47,3.16,1.69,3.16
4,de Bayern Munich,23,27.6,54.4,12,132,1080,12.0,21,16,...,1.75,1.33,3.08,1.50,2.83,1.58,1.20,2.78,1.39,2.59

In [48]:
# You can remove some of the names if you want
df.columns = df.columns.str.replace('Unnamed: 0_level_0_', '')
df.columns = df.columns.str.replace('Unnamed: 1_level_0_', '')
df.columns = df.columns.str.replace('Unnamed: 2_level_0_', '')
df.columns = df.columns.str.replace('Unnamed: 3_level_0_', '')

In [49]:
df.head()

,Squad,# Pl,Age,Poss,Playing Time_MP,Playing Time_Starts,Playing Time_Min,Playing Time_90s,Performance_Gls,Performance_Ast,...,Per 90 Minutes_Gls,Per 90 Minutes_Ast,Per 90 Minutes_G+A,Per 90 Minutes_G-PK,Per 90 Minutes_G+A-PK,Per 90 Minutes_xG,Per 90 Minutes_xAG,Per 90 Minutes_xG+xAG,Per 90 Minutes_npxG,Per 90 Minutes_npxG+xAG
0,be Antwerp,20,24.5,43.2,6,66,540,6.0,6,4,...,1.00,0.67,1.67,1.00,1.67,1.03,0.67,1.70,0.91,1.58
1,eng Arsenal,23,25.2,56.5,10,110,930,10.3,19,16,...,1.84,1.55,3.39,1.74,3.29,1.30,1.01,2.32,1.23,2.24
2,es Atlético Madrid,22,29.4,49.1,10,110,930,10.3,20,11,...,1.94,1.06,3.00,1.94,3.00,1.61,1.16,2.77,1.52,2.68
3,es Barcelona,25,26.5,54.2,10,110,900,10.0,19,18,...,1.90,1.80,3.70,1.90,3.70,1.69,1.47,3.16,1.69,3.16
4,de Bayern Munich,23,27.6,54.4,12,132,1080,12.0,21,16,...,1.75,1.33,3.08,1.50,2.83,1.58,1.20,2.78,1.39,2.59

----

In [50]:
df = pd.read_html(driver.page_source, attrs={'id': 'stats_standard'})[0]

/var/folders/l3/wlgnl3zd5hl46kfjq1yh3k9r0000gn/T/ipykernel_83649/3390943342.py:1: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df = pd.read_html(driver.page_source, attrs={'id': 'stats_standard'})[0]

In [51]:
df.head()

  Unnamed: 0_level_0   Unnamed: 1_level_0 Unnamed: 2_level_0  \
                  Rk               Player             Nation
0                  1  Patrick van Aanholt             nl NED
1                  2     Brenden Aaronson             us USA
2                  3    Salis Abdul Samed             gh GHA
3                  4     Francesco Acerbi             it ITA
4                  5        Elias Achouri             tn TUN

  Unnamed: 3_level_0 Unnamed: 4_level_0 Unnamed: 5_level_0 Unnamed: 6_level_0  \
                 Pos              Squad                Age               Born
0              MF,DF   nl PSV Eindhoven                 32               1990
1                 MF    de Union Berlin                 22               2000
2                 MF            fr Lens                 23               2000
3                 DF           it Inter                 35               1988
4              FW,MF   dk FC Copenhagen                 24               1999

  Playing Time              ... Per 90 Minutes                                 \
            MP Starts  Min  ...            Ast   G+A  G-PK G+A-PK    xG   xAG
0            2      1   99  ...           0.00  0.00  0.00   0.00  0.15  0.03
1            6      1  137  ...           0.00  0.00  0.00   0.00  0.31  0.00
2            6      6  495  ...           0.00  0.00  0.00   0.00  0.04  0.05
3            6      4  423  ...           0.21  0.21  0.00   0.21  0.05  0.06
4            8      7  552  ...           0.16  0.16  0.00   0.16  0.05  0.14

                        Unnamed: 36_level_0
  xG+xAG  npxG npxG+xAG             Matches
0   0.18  0.15     0.18             Matches
1   0.31  0.31     0.31             Matches
2   0.08  0.04     0.08             Matches
3   0.12  0.05     0.12             Matches
4   0.19  0.05     0.19             Matches

[5 rows x 37 columns]